body {
    background-color: lightgrey;
}
input {
    width: 600px;
    border: 1px solid black;
    border-radius: 2px;
}
.main {
    display: flex;
    flex-direction: column;

}
textarea {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 2px;
}

.delete-icon {
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    width: 400px;
    padding: 0;
    margin-left: 0;
}

li {
    height: 20px;
}

li:nth-child(odd) {
    background-color: #f2f2f2;
}


