body {
    background-color: lightgrey;
}

/*
input {
    width: 600px;
    border-radius: 2px;
}*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main-container {
    position: relative;
    width: 600px;
}

.delete-icon {
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    width: 600px;
    padding: 0;
    margin-left: 0;
}

li {
    height: 20px;
}

li:nth-child(odd) {
    background-color: #f2f2f2;
}

#saveNewNoteBtn {
    position: relative;
    right: 0;
}
.Login-box {

    width: 100px;
}
